@charset "utf-8";
/* CSS Document */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background: #f0f0f0;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
li {
  list-style: none;
}
textarea {
  overflow: auto;
  resize: none;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: bold;
}
a,
a:hover {
  text-decoration: none;
  outline: none;
}
body,
textarea,
button {
  color: #fff;
}
html,
body {
  min-width: 1200px;
  margin: 0 auto;
  font-family: "Microsoft YaHei", simSun, "Lucida Grande", "Lucida Sans Unicode", Arial;
  font-size: 14px;
}
i,
em {
  font-style: normal;
}
.hide {
  display: none;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.clearfix:after {
  clear: both;
  content: '\0020';
  display: block;
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.inline-box {
  display: inline-block;
  zoom: 1;
}
/**.keyframes(demo_keyframes, {
    100% {
		.transform(rotate(360-43deg));
        margin-left: -20px;
        width: 26px;
	}
});*/
